.main-div__link {
  color: #000;
  height: 30px;
  width: 100px;
  border: 1px solid black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-div__link:hover {
  color: #a92b1f;
  background: rgb(234,235,213);
  background: linear-gradient(0deg, rgba(234,235,213,1) 0%, rgba(252,254,245,1) 100%);
  box-shadow: 0px 0px 3px grey;
}