* {
  margin: 0;
  padding: 0;
}

.main-div {
  background-color: #4c5d71;
  display: flex;
  justify-content: center;
}

.hostings {
  width: 91vw;
  border-radius: 10px;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.hosting {
  height: 20vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hosting__image {
  height: 7vh;
  width: 7vw;
}

.hosting__text {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hosting__text_header {
  font-size: 16px;
  color: #e96d48;
  margin-bottom: 0;
}

.hosting__text_link {
  font-size: 10px;
  align-self: center;
  margin: 0;
  text-decoration: none;
  color: aliceblue;
}

.hosting__button {
  display: flex;
  justify-content: center;
  background-color: #e96d48;
  height: 2vh;
  width: 12vw;
  border-radius: 3px;
}

.split {
  color: #4c5d71;
  background-color: #4c5d71;
  height: 16vh;
}